*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body {
    background-color: rgb(176, 140, 209);

}
main{
    border-color: rgb(233, 233, 233);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}